###############################################################################
# Ignore this files
###############################################################################

*~
.*
*.log
config.json

###############################################################################
# Ignore this directories
###############################################################################

node_modules

###############################################################################
# Accept this files
###############################################################################

!.editorconfig
!.gitignore
!.jscsrc
!.jshintrc
!.nvmrc
!.gitattributes
